<div class="row">
    <div class="col-xs-3">
        <div class="col-sm-12" style="margin-top: -221px;">
            <div class="profile-picture"><%= image_tag((User.find_by_username(params[:id])).profilepic.url(:medium)) %></div>
        </div>
        <div class="col-sm-12">
            <h3 style="font-weight: bold;"><%= @username %></h3>
            <p><%= User.find_by_username(params[:id]).email %> </p>
            <h4>Likes given: <%= User.find_by_username(params[:id]).likes.count %></h4>
            <h4>Likes received: <%= User.find_by_username(params[:id]).posts.map { |f| f.likes.count }.sum %></h4>
        </div>
    </div> 
    

    
    <div class="col-xs-6">
        <% if user_signed_in? && current_page?('/user/' + current_user.username) %>
        <%= render '/components/posts_form' %><br><br>
        <% end %>
        
        <% for @p in @posts %>
        <div class="panel panel-default post-panel">
            <div class="panel-body row">
                
                <div class="col-sm-1">
                    <div class="round-image-50"><%= image_tag(User.find(@p.user_id).profilepic.url(:thumb)) %></div>
                </div>
                <div class="col-sm-11">
                    <p class="post-title"><a href="/user/<%= User.find(@p.user_id).username %>"><span class="post-user_id"><%= User.find(@p.user_id).username %></span></a> <span class="post-time"> - <%= @p.created_at.to_formatted_s(:short) %></span></p>
                    <% if user_signed_in? && current_page?('/user/' + current_user.username) %>
                    <div class="dropdown"  style="float: right;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to('Delete', destroy_post_url(@p), :method => :delete, data: {confirm: 'Are you sure?'}) %></li>
                        </ul> 
                    </div>
                    <% end %>
                    
                    <p class="post-body"><%= @p.content %></p>
                </div>
                
                <% if @p.image.exists? %>
                    <div class="col-sm-12 post-image">
                        <%= link_to image_tag(@p.image.url, class: 'post-image'), @p.image.url, target: '_blank' %>
                    </div>
                <% end %>
                
                <% if @p.image2.exists? %>
                <div class="col-sm-12 post-image">
                    <%= link_to image_tag(@p.image2.url, class: 'post-image'), @p.image2.url, target: '_blank' %>
                </div>
            <% end %>
            
             <% if user_signed_in? %>    
            <div class="col-sm-12">
                <p class="post-upvotes">
                    <% liked = @p.likes.find { |like| like.user_id == current_user.id} %>
                    <% if liked %>
                      <span><%= button_to "Unlike", post_like_path(@p, liked), method: :delete, class: "btn btn-primary" %></span>
                    <% else %>
                      <span><%= button_to "Like", post_likes_path(@p), method: :post, class: "btn btn-primary" %></span>
                    <% end %>
                </p>
                <p><%= @p.likes.count %> <%= (@p.likes.count) == 1 ? 'Like' : 'Likes' %></p>
            </div>
            <% end %>    
            </div>
        </div>
        <% end %>
    
        <div class="panel panel-default post-panel">
            <div class="panel-body row">
                <div class="col-sm-12">
                    <center><a href="#top"><p style="opacity: 0.7;">Back to Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
                </div>
            </div>
        </div>
    </div>
    

    <% if user_signed_in? && current_page?('/user/' + current_user.username) %>
    <div class="col-xs-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <p style="font-weight: bold; color: grey;">Following</p>
                <% current_user.following.each do |f| %>
                    <div class="col-sm-11">
                        <p class="post-title"><a href="/user/<%= f.username %>"><span class="post-user_id"><%= f.username %></span></a></p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
    
    <% if user_signed_in? && current_page?('/user/' + current_user.username) %>
    <div class="col-xs-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <p style="font-weight: bold; color: grey;">Followers</p>
                <% current_user.followers.each do |f| %>
                    <div class="col-sm-11">
                        <p class="post-title"><a href="/user/<%= f.username %>"><span class="post-user_id"><%= f.username %></span></a></p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
    
</div>


